<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password</title>
  <style>
    *{
      outline: none;
    }
    .form-group {
      width: 480px;
      margin: 0px auto;
    }

    .form-group h1 {
      text-align: center;
      color: var(--mainColor);
      margin-bottom: 40px;
    }

    /*--- variables ----*/
    :root {
      /*  colors */
      --whiteColor: #fff;
      --blackColor: #000;
      --mainColor: #26a69a;
    }

    .fileU {
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 38px;
      vertical-align: middle;
      margin: 0px;
      border: 1px solid #ebebeb;
      display: inline-block;
    }

    .fileU input {
      left: -75px;
      position: relative;
      height: 38px;
      padding-top: 7px;
    }

    .fileU:before {
      position: absolute;
      top: 0px;
      right: 0px;
      background: var(--mainColor);
      content: "Choose File";
      width: 130px;
      font-size: 14px;
      font-weight: normal;
      height: 38px;
      border: 1px solid #ebebeb;
      color: #fff;
      text-align: center;
      line-height: 34px;
    }

    .fileU:after {
      content: "";
      background: #fff;
      top: 0px;
      left: 0px;
      width: 0.75rem;
      height: 38px;
      position: absolute;
    }



    .btn {
      background: var(--mainColor);
      color: #fff;
      padding: 10px 10px;
      font-size: 16px;
      ;
      font-weight: 400;
      border: none;
      border-radius: 100px;
      cursor: pointer;
      transition-duration: 0.4s;
      width: 100px;
      margin: 0 auto;
      margin-top: 20px;
      text-align: center;
      margin-bottom: 30px;

    }

    .btn:hover {
      background: #fff;
      box-shadow: 0px 2px 20px 10px #97B1BF;
      color: #000;
    }
  </style>
</head>

<body>
      <!--form method="post" style="display: grid; gap: .5rem; grid-template-columns: auto 1fr; max-width: 500px; margin: 0 auto;">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />
    <button style="grid-column: span 2;" type="submit">DOWNLOAD</button>
  </form-->

      <form method="post" style="margin-left:30%;margin-top: 80px;">
        <input class="fileU" style="margin-top: 20px; text-align: center; width:500px;" type="password"
          placeholder="Enter the Password" name="password" id="password" required /> <br>
        <button class="btn" style="width:150px;" type="submit">DOWNLOAD</button>
        <% if (locals.error) { %>
          <div style="color: red; margin-bottom: 1rem;">
            Incorrect Password
          </div>
          <% } %>

      </form>
</body>

</html>